<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Main Menu</div>
                    <a class="nav-link" href="/">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="/mangroves">
                        <div class="sb-nav-link-icon"><i class="fas fa-tree"></i></div>
                        Mangroves
                    </a>
                    <a class="nav-link" href="/users">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Users
                    </a>
                    <a class="nav-link" href="/configs">
                        <div class="sb-nav-link-icon"><i class="fas fa-gears"></i></div>
                        Configs
                    </a>
                    <a class="nav-link" href="/logout">
                        <div class="sb-nav-link-icon"><i class="fas fa-arrow-right-from-bracket"></i></div>
                        Logout
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">